.center-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.intro-text__container {
  max-width: 880px;
}

.intro-text {
  color: white;
  fill: white;
  font-size: 2em;
  animation-name: intro-blur;
  animation-duration: 7s;
}

@keyframes intro-blur {
  from {
    filter: blur(15px);
  }

  to {
    filter: blur(0px);
  }
}

@keyframes move-text {
  to {
    transform: translateY(0px);
    transform: translateX(0px);
  }
}

.intro-text span:nth-child(2n) {
  transform: translateY(75px);
}

.intro-text span:nth-child(2n-1) {
  transform: translateY(-75px);
}

.intro-text span:nth-child(3n-1) {
  transform: translateX(-75px);
}

.intro-text span:nth-child(4n-1) {
  transform: translateX(-175px);
}

.intro-text span {
  display: inline-block;
  padding-right: 9px;
  animation-name: move-text;
  animation-duration: 6s;
  animation-fill-mode: forwards;
}

.intro-loader {
  position: absolute;
  bottom: 0;
}

.donut__svg__circle--one {
  stroke-dasharray: 221;
  stroke-dashoffset: 221;
}

.intro-loader__container circle {
  pointer-events: fill;
}
