.loader-text__container {
  max-width: 880px;
  position: relative;
  overflow: hidden;
}

.loader__animation-container {
  width: 276px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-276px);
  background-image: url(/images/intro-loader-background.jpg);
  background-size: 605px 280px;
  background-origin: 302.5px 140px;
  background-attachment: local;
}

.loader-text {
  font-size: 1em;
  position: absolute;
  z-index: 2;
  color: white;
  mix-blend-mode: difference;
}

.loader-text__loaded {
  transform: translateY(25px);
  opacity: 0;
  font-size: 2em;
}

.loader-bar {
  position: absolute;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: white;
}
