.projects {
  position: relative;
  z-index: 1;
}

.project {
  position: relative;
  margin: 0 auto;
  z-index: 2;
  transition: all 1s ease;
  height: 200px;
}

.project__small {
  width: 605px;
}

.project__full {
  width: 900px;
  max-width: calc(90vw - 100px);
  height: 500px;
}

.projects-project {
  opacity: 0.5;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  display: none;
}

.projects-project:nth-child(1) {
  transform: translateY(-400px) scale(0.5);
  display: flex;
}

.projects-project:nth-child(2) {
  transform: translateY(-200px) scale(0.8);
  display: flex;
}

.projects-project:nth-child(3) {
  opacity: 1;
  display: flex;
}

.projects-project:nth-child(4) {
  transform: translateY(200px) scale(0.8);
  display: flex;
}

.projects-project:nth-child(5) {
  transform: translateY(400px) scale(0.5);
  display: flex;
}

.project--title {
  font-size: 3em;
  font-family: "Roboto Condensed";
  text-transform: uppercase;
  font-weight: 900;
}

.project--title__full {
  font-size: 5em;
}

.project--titraille {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  z-index: 2;
}

.project--titraille__full {
  align-items: left;
  max-width: 450px;
  text-align: left;
}

.project__services {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project--cover {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0 0 35px 30px rgba(0, 0, 0, 0.4);
  z-index: 1;
  opacity: 0;
  height: 0;
}
