.projects {
  position: relative;
  z-index: 1;
}

html {
  user-select: none;
}

.projects-project {
  opacity: 0.5;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  display: none;
  transition: transform 1s ease;
}

.projects-project:nth-child(1) {
  transform: translateY(-400px) scale(0.5);
  display: flex;
}

.projects-project:nth-child(2) {
  transform: translateY(-200px) scale(0.8);
  display: flex;
}

.projects-project:nth-child(3) {
  opacity: 1;
  display: flex;
}

.projects-project:nth-child(4) {
  transform: translateY(200px) scale(0.8);
  display: flex;
}

.projects-project:nth-child(5) {
  transform: translateY(400px) scale(0.5);
  display: flex;
}

.project-loader {
  width: 235px;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.project-loader__container {
  position: fixed;
  bottom: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  opacity: 0;
}

.project-loader__progress {
  width: 0px;
  background: white;
  height: 2px;
}
